body {
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  text-align: center;
  background: transparent;
  height: 80px;
  color: #fff;
  z-index: 1;
}

header p {
  display: block;
  margin: auto;
}